#calculator{margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: 500px;
    width: 400px;
    border: solid black;
    display: flex;
    flex-direction: column;
    background-color: black;
}
#oneTo9{
    display: flex;
}
button{
    border-radius: 20px;
    background-color: burlywood;
}
#display{
    margin-top: 20px;
    width: 360px;
    align-self: center;
    height: 150px;
    border: solid black;
    border-width: 2px;
    background-color: greenyellow;
    border-radius: 20px;
    text-align: center;
   
}
#mind > *{
    background-color: greenyellow;
    flex: auto;
    
}
#mind{
    display: flex;
    width: 360px;
    align-self: center;
    margin-top: 30px;
  
}
#operators{
    display: flex;
    flex-direction: column;
    background-color: blue;
}
#operators > *{
    margin-top: 20px;
}

#clear{
    align-self: center;
    margin-top: 20px;
}
.column{
    display: flex;
    flex-direction: column;
    width: 30px;
    justify-content: space-between;
    margin-left: 20px;
    
}
#number0{
    margin-left: 20px;
    width: 130px;
    margin-top: 20px;
}
.number{
    margin-top: 20px;
}
